<div id="preto">
  <br>
  <br>
  <br>

<footer class="page-footer font-smallpt-4">

    <div class="row w-100">
        <div class="col-md ml-2">
            <form class="">
                <div class="form-group w-100">
                    <label for="exampleFormControlInput1">Nome Completo</label>
                    <input type="name" class="form-control" id="exampleFormControlInput1"
                        placeholder="Insira seu nome completo">
                </div>

                <div class="form-groupw-100">
                    <label for="exampleFormControlInput1">Endereço de email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="nome@exemplo.com">
                </div>

                <div class="form-groupw-100">
                    <label for="exampleFormControlTextarea1">Assunto</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div class="form-group d-flex justify-content-end mt-2">
                    <button class="btn btn-outline-dark mr-auto">Enviar</button>
                </div>
            </form>
        </div>

        <div class="col-md col-lg">
            <iframe class="w-100"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.135445113772!2d-46.68338588554306!3d-23.563578467558074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce579d45a95e2d%3A0x4adfe9e697e8f835!2sR.%20C%C3%B4nego%20Eug%C3%AAnio%20Leite%2C%20623%20-%20Pinheiros%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2005414-011!5e0!3m2!1spt-BR!2sbr!4v1629986367430!5m2!1spt-BR!2sbr"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <i class="text-white">Siga-nos nas redes sociais</i>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/moreirasmatheus/" target="_blank" class="icoLinkedin">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/smoreiramatheus" target="_blank" class="icoLGithub">
                            <i class="fab fa-github-square"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3" id="amarelo">
        <span class="text-dark"> &copy; 2020 Copyright: </span>
        <a class="text-dark" target="_blank" href="projetointegrador.generation@gmail.com">Plek</a>

    </div>
</footer>
</div>
